<h1><%= @product.product_name %></h1>
<div>
   <%= image_tag(@product.image_url) %>
    <p>About the product: <%= @product.product_description %></p><br>
    <p>Price: $ <%= @product.sold_at %></p>
</div>

<%= link_to 'Back', products_path(@products) %>
<%= link_to 'Edit Product', edit_product_path(@product) %>